
.pagetalk1{
    /* background-color: #FDD469 !important; */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row !important; */
  flex-wrap: wrap;
  padding: 2vmax;
}

.circle{
    /* position: absolute; */
    top: 40%;
    left: 40%;
    /* width: 400px;
    height: 400px; */
    width: 500px;
    height: 500px;
    /* border-radius: 200px; */
    /* background-color: blueviolet; */
    border-radius: 50%;
    background-color: #FDD469;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lefttalk{
    width: 50vw;
    height: auto;
    height: 60vh !important;

}
.lefttalk h1{
    /* font-height:2px; */
    font-size: 4vw;
   margin-bottom: 4vmax;
}
.dividingmargin{
    width: 40vw;
    height: 2px;
    /* background-color: solid black; */
    background-color:  rgb(91, 90, 90);
}

.Email{
    margin: 2vmax;
}

.Location{
    margin: 2vmax;
}

.Contact{
    margin: 2vmax;
}
.lefttalk >div > h2{
    margin-bottom: 2px;
}




/* ------------------- NEXT */

.footer{
    /* width: 100vh; */
    width: 100vw;
    height: 30vh;
    background-color: #FDD469;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 10vw; */
    font-size: 10px;
}

.blackcolorfooter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 40vh;
    background-color: rgb(48, 47, 47);
    color: white;
}

.blackcolorfooter > div{
    /* margin-right: 1px; */
    border-left: 2px solid white;
    border-right: 2px solid white;
    width: 20vw;
    margin-left: 1px;
    margin-right: 10px;
    padding: 10px;
}

@media only screen and (max-width:"600px") {
    .circle{
        /* position: absolute; */
        top: 40%;
        left: 40%;
        /* width: 400px;
        height: 400px; */
        width: 500px;
        height: 500px;
        /* border-radius: 200px; */
        /* background-color: blueviolet; */
        border-radius: 50%;
        background-color: #FDD469;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10vmax;
    }

    

}